<!doctype html>
{% extends 'error.twig' %}
{% block body %}
<h1>Page Not Found</h1>
<p>Sorry, but the page you were trying to view does not exist.</p>
{% if env == "development" %}
    <h1>More info:</h1><br>
    {{ parent() }}
{% endif %}
{% endblock %}
